<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>belajar vuejs</title>
    <style>
        .active {
            background: salmon;
            margin: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app">

        <!-- data -->
        <h1>{{ name }}</h1>
        
        <p>{{ message }}</p>
        <p>{{ 1+1 }}</p>

        <!-- methods pakai kurung -->
        <p>{{ getName ()}}</p> 

        <!-- computed property -->
        <p>{{ namaLengkap }}</p>
        <p>{{ bilangan }}</p>
        <p>Bilangan diatas adalah {{ infoBilangan }}</p>

        <!-- directive binding -->
        <h1 v-text="name.toUpperCase()"></h1>

        <!-- atribute binding -->
        <img v-bind:src="gambar" width="200">

        <!-- event -->
        <h2>{{ bilangan }}</h2>
        <button v-on:click="bilangan++">decrement</button>
        <br>
        <br>
        <br>
        <button v-bind:class="{ active : menu === 'home' }" v-on:click="menu = 'home'">Home</button>
        <button v-bind:class="{ active : menu === 'about' }" v-on:click="menu = 'about'">About</button>
        <button v-bind:class="{ active : menu === 'blog' }" v-on:click="menu = 'blog'">Blog</button>
        <br>
        <br>
        <input type="text" v-model="name">
        <br>
        <p>{{kelas}}</p>
        <div>
            <label><input type="checkbox" value="React" v-model="kelas">React</label>
            <label><input type="checkbox" value="Vuejs" v-model="kelas">Vuejs</label>
            <label><input type="checkbox" value="Angular" v-model="kelas">Angular</label>
        </div>
        <div>
            <h2>Perulangan</h2>
            <ul>
                <li v-for="b in buah">{{ b }}</li>
            </ul>
            <ul>
                <li v-for="(item, index) of program">{{ index+1 }} - {{ item }}</li>
            </ul>
            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>
        </div>


    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>
</html>